body{
  margin: 0 auto;
  background-color: #e74c3c;
  color: #e74c3c;
}

/*Button*/
.new-quote{
 background-color: #e74c3c;
 color: white;
 border: none;
 border-radius: 3px;
 padding: 10px;
 float: right;
}

.quote-box{
  position: relative;
  background-color: white;
  width: 60%;
  padding: 2rem;
  margin: 0 auto;
  top: 10rem;
}

@media screen and (max-width:480px) {
  .quote-box{
    width:90%
  }
  p{
    font-size: 1.2rem;
   }
}

p{
 font-size: 1.5rem;
}

#creator p{
  position: absolute;
  margin-top:10rem;
  margin-left: 45%;
  padding: 1rem;
  color: whitesmoke;
  font-size: 1rem;
  text-decoration: none;
}
@media screen and (max-width:480px) {
  #creator p{
    margin-left: 30%;
  }
}
#creator a{
    color: whitesmoke;
  }

  #header{
    position: absolute;
    padding-top: 7rem;
    margin-left: 33vw;
    color: whitesmoke;
    font-size: 1.7rem;
    font-weight: bold;
  }
   @media screen and (max-width:480px) {
    #header{
      margin-left: 12vw;
      font-size: 1.5rem;
    }
  }