body{
  background-color: #e74c3c;
  color: #e74c3c;
}

/*Button*/
.new-quote{
 background-color: #e74c3c;
 color: white;
 border: none;
 border-radius: 3px;
 padding: 10px;
 float: right;
}

.quote-box{
  position: relative;
  background-color: white;
  width: 60%;
  padding: 2rem;
  margin: 0 auto;
  top: 10rem;
}

@media screen and (max-width:480px) {
  .quote-box{
    width:90%
  }
  p{
    font-size: 1.2rem;
   }
}

p{
 font-size: 1.5rem;
}